{
    "token": "Discord Bot Token",

    "discordBotClientID": "NEW! Discord Bot ID",
    "discordGuildID": "NEW! Discord Server ID for where the bot will run.",

    "embedColor": "#7289DA",
    "secondOpinionColor": "#e91e63",
    "modID": "Moderator Role ID",
    "communityID": "Community Role ID",
    "prefix": "!",
    "inviteID": "Welcome Channel ID for Invite Links",
    "modmailID": "Invite Channel ID for Moderators to Audit",
    "clientId": "Snoowrap Reddit API Client ID",
    "clientSecret": "Snoowrap Reddit API Client Secret",
    "refreshToken": "Snoowrap Reddit API Refresh Token",
    "intervalModmail": "30"
}